name: Mirroring

on: [push, delete]

jobs:
  to_gitlab:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: check using variables
        run: echo "Origin:" ${{ github.repository }} 
      - uses: pixta-dev/repository-mirroring-action@v1
        with: 
          target_repo_url:
            ${{ format('git@gitlab.com:{0}.git', github.repository)}} 
          ssh_private_key:
            ${{ secrets.GITLAB_SSH_PRIVATE_KEY }}
